@font-face{
	font-family: 'MyFont';
	src: url('./SingleMalta.ttf') format('ttf'),
		 url('./Jum.otf') format('otf');
	font-weight: 600;
	font-style: normal;
}

.hello{
	color: red;
	font-family: 'MyFont';
	background: url('./lufei.png');
}